.title {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    &_left{
        color:#fff;
        font: size 36px;
        text-align: left;
        text-transform: uppercase;
        line-height: 45px;
    }
        
}